.poppUpppFrame {
  position: relative;
  background-color: transparent;
  width: 471px;
  height: 420px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
